<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">My Plant Diary</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sustainability">Sustainability</a>
                </li>
            </ul>
        </div>
        <form class="form-inline" action="#" th:action="@{/plants}"  method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  name="searchTerm" id="searchTerm" list="Plant_Search">
            <datalist id="Plant_Search">
                <option value="Oak">Quercus</option>
                <option value="Maple">Acer</option>
                <option value="Pine">Pinus</option>
                <option value="Spruce">Abies</option>
                <option value="Oak Leaved Hydrangea">Hydrangea</option>
            </datalist>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>